<% if @group_post.present? %>
  <h1 class="text-center mb-4"><%= @group_post.user.name %>の投稿</h1>

  <div class="text-center">
    <% if @group_post.image.attached? %>
      <%= image_tag @group_post.image, class: 'img-fluid', style: 'max-width: 80%; height: auto;' %>
    <% else %>
      <p>画像はありません</p>
    <% end %>
  </div>

  <p class="text-center mt-3"><strong>投稿日時:</strong> <%= @group_post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>

  


  <% if @group_post.favorited_by?(current_user) %>
  <p>
    <%= link_to group_group_post_group_favorites_path(@group_post.group, @group_post), method: :delete do %>
      ♥<%= @group_post.group_favorites.count %> いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to group_group_post_group_favorites_path(@group_post.group, @group_post), method: :post do %>
      ♡<%= @group_post.group_favorites.count %> いいね
    <% end %>
  </p>
<% end %>





  <div class="mt-4 px-4">
    <p><strong>コメント件数:</strong> <%= @group_post.group_post_comments.count %></p>
    <% @group_post.group_post_comments.each do |group_post_comment| %>
      <div class="d-flex align-items-center mb-3 border-bottom pb-2">
        <%= image_tag group_post_comment.user.get_profile_image(40,40), class: "rounded-circle me-2" %>
        <p class="mb-0 me-2">
          <strong class="text-dark"><%= group_post_comment.user.name %></strong>
          <span class="ms-2">/</span>
          <span class="ms-2 text-muted"><%= group_post_comment.created_at.strftime('%Y/%m/%d') %></span>
        </p>
      </div>
      <div class="mb-2 ps-4">
        <p><%= group_post_comment.content %></p>
      </div>
      <% if group_post_comment.user == current_user %>

      <% end %>
    <% end %>
  </div>

  <div class="mt-4 px-4">
    <%= form_with model: [@group_post, @group_post_comment], url: group_group_post_group_post_comments_path(@group.id,@group_post.id), class: "form-group" do |f| %>
      <%= f.text_area :content, rows: '5', class: "form-control", placeholder: "コメントを入力してください！" %>
      <div class="form-group mt-3 text-end">
        <%= f.submit "送信する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <% if current_user == @group_post.user || current_user == @group.owner %>
    <div class="text-center mt-3">
      <%= link_to '削除', group_group_post_path(@group, @group_post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    </div>


<% else %>
  <p class="text-center">投稿が見つかりませんでした。</p>
<% end %>
<% end %>
