<%= form_with(url: admin_board_comments_path, method: :get, class: 'form-inline') do %>
  <div class="form-group">
    <%= label_tag :search, '検索:', class: 'mr-2' %>
    <%= text_field_tag :search, params[:search], class: 'form-control mr-2', placeholder: 'ユーザー名またはコメント' %>
    <%= submit_tag '検索', class: 'btn btn-primary' %>
  </div>

  <% if params[:search].present? %>
    <%= link_to 'リセット', admin_board_comments_path(@group), class: 'btn btn-secondary ml-2' %>
  <% end %>
<% end %>

<h2>グループコメント管理</h2>

<% if @board_comments.empty? %>
  <p>コメントはありません。</p>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>ユーザー</th>
        <th>コメント内容</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @board_comments.each do |comment| %>
        <tr>
          <td><%= comment.user.name %></td>
          <td><%= comment.body %></td>
          <td>
            <%= link_to '削除', admin_board_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>