<h2 class="text-center mb-4">コメント編集</h2>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <%= form_for @group_post_comment, url: group_group_post_group_post_comment_path(@group_post.group, @group_post, @group_post_comment), method: :patch do |f| %>
            <div class="mb-3">
              <%= f.label :content, "コメント", class: "form-label" %>
              <%= f.text_area :content, rows: '5', class: "form-control", placeholder: "コメントを編集してください！" %>
            </div>
            <div class="d-flex justify-content-between">
              <%= f.submit "更新する", class: "btn btn-primary" %>
              <%= link_to "キャンセル", group_group_post_path(@group_post.group, @group_post), class: "btn btn-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



  