<h1 class="mb-4">新しいグループを作成</h1>

<%= form_with model: @group, local: true, html: { class: 'form-group' } do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@group.errors.count, "error") %>が発生しました:</h4>
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'グループ名', class: 'form-label' %>
    <%= form.text_field :name, id: :group_name, class: 'form-control', placeholder: "グループ名を入力してください" %>
  </div>

  <div class="form-group">
    <%= form.label :introduction, '紹介文', class: 'form-label' %>
    <%= form.text_area :introduction, id: :group_introduction, class: 'form-control', placeholder: "グループの紹介文を入力してください", rows: 4 %>
  </div>

  <div class="form-group">
    <%= form.label :image, 'グループ画像', class: 'form-label' %>
    <%= form.file_field :image, class: 'form-control-file' %>
  </div>

  <div class="form-group">
    <%= form.submit 'グループを作成', class: 'btn btn-primary btn-sm' %>
  </div>
<% end %>

<%= link_to 'キャンセル', groups_path, class: 'btn btn-secondary btn-sm' %>
