<h1><%= @group.name %>の詳細</h1>

<div class="group-details">
  <p><strong>紹介文:</strong> <%= @group.introduction %></p>

  <% if @group.image.attached? %>
    <div class="group-image">
      <%= image_tag @group.image, alt: 'Group Image' %>
    </div>
  <% else %>
    <div class="group-image">
      <%= image_tag 'no_image.jpg', alt: 'No image available' %>
    </div>
  <% end %>

  <p><strong>オーナー:</strong> <%= @group.owner.name %></p>
</div>

<div class="group-actions">
  <%= link_to 'グループ一覧に戻る', groups_path, class: 'btn btn-secondary' %>
  <% if @group.is_owned_by?(current_user) %>
    <%= link_to 'グループを編集', edit_group_path(@group), class: 'btn btn-warning' %>
  <% end %>
</div>
