<h1><%= @user.name %> のグループ一覧</h1>

<% if @groups.present? %>
  <ul>
    <% @groups.each do |group| %>
      <li>
        <%= link_to group_path(group) do %>
          <% if group.post_image.attached? %> 
            <%= image_tag group.post_image, alt: 'Group Image', class: 'group-image-thumbnail', style: 'width: 30px; height: 30px; object-fit: cover; margin-right: 10px;' %>
          <% else %>
            <%= image_tag 'no_image.jpg', alt: 'No image', class: 'group-image-thumbnail', style: 'width: 30px; height: 30px; object-fit: cover; margin-right: 10px;' %>
          <% end %>
          <%= group.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>所属しているグループはありません。</p>
<% end %>
