<h1 class="mb-4 text-center"><%= @user.name %> のグループ一覧</h1>

<% if @groups.present? %>
  <ul class="list-unstyled">
    <% @groups.each do |group| %>
      <li class="mb-3">
        <%= link_to group_path(group), class: 'text-decoration-none text-dark d-flex align-items-center' do %>
          <% if group.post_image.attached? %> 
            <%= image_tag group.post_image, alt: 'Group Image', class: 'group-image-thumbnail', style: 'width: 60px; height: 60px; object-fit: cover; margin-right: 15px;' %>
          <% else %>
            <%= image_tag 'no_image.jpg', alt: 'No image', class: 'group-image-thumbnail', style: 'width: 60px; height: 60px; object-fit: cover; margin-right: 15px;' %>
          <% end %>
          <h5 class="mb-0"><%= group.name %></h5>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="text-center">所属しているグループはありません。</p>
<% end %>
