<!DOCTYPE html>
<html>

 <head>
      <title>Traveler!</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
      <script src="https://kit.fontawesome.com/9c3f34c97f.js" crossorigin="anonymous"></script>
      <%= stylesheet_pack_tag 'top', media: 'all', 'data-turbolinks-track': 'reload' %>
      </head>

    <div>
      <%= flash[:notice] %>
    </div>
    
  <body class="home-page">
    <h1>Welcom to Traveler</h1>
     <p>Where travelers come together to share their travel stories!</p>

    <%= yield %>
 </body>
</html>
 