<%= form_with url: admin_post_comments_path, method: :get, local: true, class: 'form-inline' do |f| %>
  <div class="form-group">
    <%= f.label :search, '検索: ' %>
    <%= f.text_field :search, class: 'form-control', placeholder: 'ユーザー名またはコメント', value: params[:search] %>
  </div>
  <%= f.submit '検索', class: 'btn btn-primary' %>
  <% if params[:search].present? %>
    <%= link_to 'リセット', admin_post_comments_path, class: 'btn btn-secondary ml-2' %>
  <% end %>
<% end %>


<h1>コメント一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>コメント</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @post_comments.each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.comment %></td>
        <td>
          <%= link_to '削除', admin_post_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>