<div class="group-header" style="display: flex; align-items: center; gap: 10px;">
  <% if @group.post_image.attached? %>
    <%= image_tag @group.post_image, alt: 'Group Image', class: 'group-thumbnail', style: 'width: 40px; height: 40px; object-fit: cover; border-radius: 50%;' %>
  <% else %>
    <%= image_tag 'no_image.jpg', alt: 'No image available', class: 'group-thumbnail', style: 'width: 40px; height: 40px; object-fit: cover; border-radius: 50%;' %>
  <% end %>
  <h1 style="margin: 0;"><%= @group.name %></h1>
</div>

<p><strong>紹介文:</strong> <%= @group.introduction %></p>


<h1 class="mb-4"><%= @group.name %> - 投稿された画像</h1>

<% if @group_posts.any? %>
  <div class="row">
    <% @group_posts.each do |group_post| %>
      <% if group_post.image.attached? %>
        <div class="col-4 mb-4">
          <div class="card">
            <div class="card-body">
              <%= link_to group_group_post_path(@group, group_post) do %>
                <%= image_tag group_post.image, class: "card-img-top group-post-image" %>
              <% end %>

              <div class="d-flex align-items-center mt-2">
                <% if group_post.user.profile_image.attached? %>
                  <%= image_tag group_post.user.profile_image, alt: "#{group_post.user.name} Profile", class: "profile-thumbnail", style: "width: 30px; height: 30px; object-fit: cover; margin-right: 10px; border-radius: 50%;" %>
                <% else %>
                  <%= image_tag 'no_image.jpg', alt: 'No image', class: 'profile-thumbnail', style: "width: 30px; height: 30px; object-fit: cover; margin-right: 10px; border-radius: 50%;" %>
                <% end %>
                <p class="card-title mb-0" style="font-size: 0.9rem;"><%= group_post.user.name %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>投稿された画像はありません。</p>
<% end %>


<%= link_to 'グループ一覧に戻る', admin_groups_path, class: 'btn btn-secondary' %>
