<!DOCTYPE html>
<html>
<head>
  <title>Admin - Tlaveler</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<header class="bg-info">
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand p-3" href="/">Traveler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNavDropdown">
   <ul class="navbar-nav ml-auto">
  
    <% if admin_signed_in? %>
    <div class="text-right">
        <%= link_to '全ユーザー一覧', admin_dashboards_path, class: 'text-dark' %>
    </div>
    <div class="text-right">
        <%= link_to '全グループ一覧', admin_groups_path, class: 'text-dark' %>
    </div>

    <div class="text-right">
      <%= link_to 'コメント一覧', admin_post_comments_path %>
    </div>
 
    <div class="text-right">
      <%= link_to 'グループコメント管理', admin_board_comments_path, class: 'text-dark' %>
    </div>

      <div class="text-right">
        <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'text-dark' %>
      </div>
    <% end %>
 
    </div>
    </div>
    </nav>
  </header>
  <%= yield %>
  </html>